
</div>
<footer class="globalfooter">
	<div class="common-container">
	
		<nav class="global_nav">
			<ul>
				<li>
					<a href="<%= data.toRoot %>aboutme/">AboutMe</a>
				</li>
				<li>
					<a href="<%= data.toRoot %>works/">Works</a>
				</li>
				<li>
					<a href="<%= data.toRoot %>contact/">Contact</a>
				</li>  
				<li>
					<a href="<%= data.toRoot %>link/">Link</a>
				</li>
			</ul>
		</nav>
		<div class="l-row">
			<div class="l-span3">
				<figure>
					<img src="<%= data.toRoot %>assets/aboutme/my_icon_2.png">
				</figure>
			</div>
			<div class="l-span9">
				<h4>hiragino</h4>
				<p>駆け出しのインフラエンジニアです。よろしくお願いします。</p>
			</div>
		</div>
		<p class="allrights"><%= data.siteAllRights %></p>
	</div>
</footer>
</body>
</html>
